<div id="particles-js" class="fullscreen">
  
<nav class="nav nav-masthead justify-content-center float-md-end text-white">
    {% assign links = site.pages | where_exp: "page", "page.name contains '.md'" %}
    
    <!-- First, display the current page link -->
    {% for link in links %}
    {% unless link.name contains 404 %}
    {% if link.url == page.url %}
    <a class="nav-link fw-bold py-1 active" aria-current="page" href="{{ link.url }}">{{ link.title | upcase }}</a>
    {% endif %}
    {% endunless %}
    {% endfor %}
    
    <!-- Then, display the other links, excluding the current page -->
    {% for link in links %}
    {% unless link.name contains 404 %}
    {% if link.url != page.url %}
    <a class="nav-link fw-bold py-1" href="{{ link.url }}">{{ link.title | upcase }}</a>
    {% endif %}
    {% endunless %}
    {% endfor %}
</nav>
      
    <div class="jumbotron text-center">
    <img class="particles-photo" src="assets/files/sim.photo.jpg" /> 
    <h1 class="particles-title">Rok Sim</h1>
    <h1 class="particles-subtitle">A linguist</h1>  
    
        
    <div class="nowrap">
      {% if site.social.facebook %}
      <a class="particles-icon" href="https://www.facebook.com/{{ site.social.facebook }}">{% include svg/facebook.svg %}</a>
      {% endif %}
      <a class="particles-icon" href="https://twitter.com/{{ site.social.x }}">{% include svg/x.svg %}</a>
      {% if site.social.instagram %}      
      <a class="particles-icon" href="https://www.instagram.com/{{ site.social.instagram }}">{% include svg/instagram.svg %}</a>
      {% endif %}
      {% if site.social.linkedin %}
      <a class="particles-icon" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">{% include svg/linkedin.svg %}</a>
      {% endif %}
      {% if site.social.stackoverflow %}
      <a class="particles-icon" href="https://stackoverflow.com/users/{{ site.social.stackoverflow }}">{% include svg/stackoverflow.svg %}</a>
      {% endif %}
      <a class="particles-icon" href="https://github.com/{{ site.social.github }}">{% include svg/github.svg %}</a>
      <a class="particles-icon" href="cv">{% include svg/cv-circled.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
