<div id="particles-js" class="fullscreen">

  <div class="jumbotron text-center" style="background: #f8f9fa; padding-top: 20px;">
  <a class="h3 text-decoration-none" href="/" style="color: #333; font-size: 2rem;">
  <span class="fw-light">{{ site.author | split: " " | first }}</span>
  <span class="fw-light">{{ site.author | split: " " | last }}</span>
  </a>
  </div>
  
    <div class="jumbotron text-center">
    <img src="{{ 'assets/files/sim.photo.jpg' | relative_url }}" class="mx-auto mb-5 rounded-circle w-50" alt="{{ site.author }}" loading="lazy" />
    <h1 class="particles-title" style="font-size: 2rem;/* Adjust size as needed */margin-bottom: 30px; /* Adjust this value to increase or decrease the space */">{{ site.author }}</h1>
        
    <div class="nowrap">
      {% if site.social.facebook %}
      <a class="particles-icon" href="https://www.facebook.com/{{ site.social.facebook }}">{% include svg/facebook.svg %}</a>
      {% endif %}
      <a class="particles-icon" href="https://twitter.com/{{ site.social.x }}">{% include svg/x.svg %}</a>
      {% if site.social.instagram %}      
      <a class="particles-icon" href="https://www.instagram.com/{{ site.social.instagram }}">{% include svg/instagram.svg %}</a>
      {% endif %}
      {% if site.social.linkedin %}
      <a class="particles-icon" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">{% include svg/linkedin.svg %}</a>
      {% endif %}
      {% if site.social.stackoverflow %}
      <a class="particles-icon" href="https://stackoverflow.com/users/{{ site.social.stackoverflow }}">{% include svg/stackoverflow.svg %}</a>
      {% endif %}
      <a class="particles-icon" href="https://github.com/{{ site.social.github }}">{% include svg/github.svg %}</a>
      <a class="particles-icon" href="cv">{% include svg/cv-circled.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
